<?xml version='1.0' encoding='utf-8'?>
<widget id="net.exercix" version="1.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ExerciX Lite</name>
    <description>
    ExerciX
        </description>
    <author email="jeremy@exercix.net" href="exercix.net">
    ExerciX Team
        </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    
</widget>
